/* Admin Panel Styles */

.button-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 16px;
  background-color: #be123c;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #9f1239;
}
